<?xml version="1.0" encoding="UTF-8"?>
<project name="cobertura-project" default="cobertura-all">
  <path id="cobertura.path">
    <fileset dir="${cobertura.dir}">
     <include name="*.jar" />
    </fileset>
  </path>
  <taskdef resource="cobertura.properties" classpathref="cobertura.path" />

  <target name="cobertura-all">
    <echo>Running cobertura...</echo>
      #foreach ( $buildFile in $buildFiles )
      <ant antfile="$buildFile" />
      #end
  </target>
</project>